<div class="ss__facet ss__facet--collapsed display-icons skeleton-facet">
  <div class="ss__dropdown ss__facet__dropdown">
    <div class="ss__dropdown__button" role="button" aria-expanded="true">
      <div
        class="ss__facet__header"
        role="heading"
        tabindex="0"
      >
        <div class="ss__facet___header--label skeleton-facet-label skeleton-animation"></div>
        <span class="filter-tooltip skeleton-filter-tooltip"></span>
      </div>
    </div>
  </div>
</div>