<article class="ss__result ss__result__hover ss__result--grid ss__results__result skeleton-item">
  <a
    href="#"
    class="ss__result-link"
  >
    <div class="product-card-top-wrapper">
      <div class="ss__result__image-wrapper">
        <div class="ss__image ss__result__image">
          <div class="skeleton-item-img">
            <div class="skeleton-img-placeholder"></div>
          </div>
        </div>
      </div>
      <div class="ss__result__details skeleton-item-details">
        <div class="ss__result__details__top_row body-large skeleton-ss__result__details__top_row">
          <div class="ss__result__details__review skeleton-item-review skeleton-animation"></div>
          <div class="ss__result__details__pricing body-medium">
            <span class="ss__price ss__result__price skeleton-item-price skeleton-animation"></span>
          </div>
        </div>
        <div class="ss__result__details__title body-medium skeleton-item-title skeleton-animation"></div>
        <div class="attributes-layout skeleton-attributes-layout">
          <div class="attribute-item skeleton-attribute-item">
            <span class="eyebrow eyebrow--small skeleton-eyebrow skeleton-animation"></span>
            <span class="body-small skeleton-body-small skeleton-animation"></span>
          </div>
          <div class="attribute-item skeleton-attribute-item">
            <span class="eyebrow eyebrow--small skeleton-eyebrow skeleton-animation"></span>
            <span class="body-small skeleton-body-small skeleton-animation"></span>
          </div>
          <div class="attribute-item skeleton-attribute-item">
            <span class="eyebrow eyebrow--small skeleton-eyebrow skeleton-animation"></span>
            <span class="body-small skeleton-body-small skeleton-animation"></span>
          </div>
        </div>
      </div>
    </div>
  </a>
</article>